
// all section include all details
.vision-section{
@include Section;
    display: flex;
    flex-direction: column; 
    align-items: center;
 .vision-image{
 @include Background
}
 .vision-image-m{
    display: none;
}
 // flesh end of section fo to services
.arrow-services{
    text-align: center;
 h1{
     margin: 0;
     color: $VioletColor;
     font-size: 1vw;
 }   
 .arrow-image{
     
     width: 10%;
 }
}
}
// Titile Magma Solutions
.vision-title{
    text-align: center;
    position: relative;
    padding-top: 20px;
    h1{
 @include Title(3vw)
    }
    // sub Title we Take Your
    h2{
        line-height: 0;
        color: $OrangeColor;
        font-size: 3vw;
        font-weight: bolder;
    }
}
.vision-container{
 padding-top: 15px;
    width: 90%;
    margin: auto auto;
    display: flex;
  justify-content: space-between;
    
// text left container
    .vision-text{
        padding: 0px 50px;

        h1{
        @include Text(1vw);
        }
        width: 50%;

    }
// image right container
    .image-right-vision{
        width: 50%;
        img{
            box-shadow: -7px 2px 20px rgba(255, 121, 0, 0.66);;
           @include ImageWithBorder(50px);    
        } }

}


@media screen and(max-width:1024px) {
        .vision-section{
          min-height: 100%;
        .vision-image-m{
     @include Background;
   
    }
    .vision-image{
        display: none;
    }
}

//Magma solutions
    .vision-title{
        position: relative;
        padding-top: 40px;          
        margin-left: 11px;
        h1{
     @include Title(25px);
        }
        h2{
        font-size: 15px;
    
           
        }
    }
    .vision-container{
flex-direction: column-reverse;
padding-top: 30px;
width: 100%;
min-height: 100% ;
padding-right: 10px;
padding-left: 10px;
align-items: center;
.vision-text{
width: 100%;
padding-top: 30px;
padding: 0;
//change size text to 15px
           h1{       
          font-size:15px;
           }
       }
       .image-right-vision{
       width: 80%;
       }
    }
    .arrow-services{
        display: none;
    }
}