.vision-section{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
 .vision-image{
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;
}
 .vision-image-m{
    display: none;
}
.arrow-services{
    text-align: center;
   
 h1{
     margin: 0;
     color: $VioletColor;
     font-size: 1vw;
 }   
 .arrow-image{
     
     width: 10%;
 }
 

}

}
.vision-title{
  

    text-align: center;
    position: relative;
    padding-top: 10px;

    

    h1{
        
        color: $VioletColor;
        font-size:3vw;
        font-weight: 600
    }
    h2{
        line-height: 0;
        color: $OrangeColor;
        font-size: 3vw;
        font-weight: bolder;
       
    }
}
.vision-container{
 padding-top: 15px;
    width: 90%;
    margin: auto auto;
    display: flex;
  justify-content: space-between;
    // align-items: flex-start;

    .vision-text{
        padding: 0px 50px;
width: 40%;
        h1{
 
            color: $VioletColor;
        font-size: 1vw;
        font-weight: 500;
        }
        width: 50%;

    }
    .image-right-vision{
        width: 50%;
        img{
         
            box-shadow: -8px 0px 44px rgba(255, 121, 0, 0.66);;
            border-radius: 50px; 
            width: 100%;
        
        }
    }

}


@media screen and(max-width:1024px) {

    .vision-section{
  min-height: 100%;
    
    
        .vision-image-m{
     position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
   
    }
    .vision-image{
        display: none;
    }
}


 
 



    .vision-title{
        position: relative;
padding-top: 40px;       
margin-left: 11px;
        
    
        h1{
            margin: 0;
            color: $VioletColor;
            font-size:25px;
            font-weight: 700;
            line-height: normal;
        }
        h2{
        font-size: 15px;
    
           
        }
    }
    .vision-container{
flex-direction: column-reverse;
padding-top: 30px;
width: 100%;
min-height: 100% ;
padding-right: 10px;
padding-left: 10px;
align-items: center;
.vision-text{
width: 100%;
padding-top: 30px;
padding: 0;

           h1{
               
   font-size:15px;
           }
         
   
       }
       .image-right-vision{
       width: 80%;
       
       text-align: center;
           img{
               width: 100%;
           }
       }





    }
    .arrow-services{
        display: none;
    }
}