
//hero section
.hero-section {
@include Section;
}

.hero-bg {
@include Background;
 
}
.hero-bg-m{
  display: none;
}
//container inside section
.hero-content {
@include Section;
 @include ContainerFlex('space-between');

  // circle violet and orange behind text 
  .behind-text{
    position: absolute;
    top: 0px;
    left: 200px;
    z-index: -1;
    
    object-fit: contain;
    width: 40%;
    
  }

  //hero text 
  .hero-text{
    
  //h1 only one creative way
    h1{
      color: $SloganColor;
      font-size: 3vw;
      font-weight: 700;
    line-height: normal;
    }
    //to Do Things...
    h2{
      color: $SloganColor;
      font-size: 2vw;
      font-weight: 700;
      line-height: 0px;
    }
    //container btn get a quote
    .hero-btn{
   
      margin-top: 12vh;
    }
  }
}

// image right section
.hero-image{
  width: 30vw;
  img{
    width: 100%;
  }
}


@media screen and(max-width:1024px) {
  
  //change bg on Mobile
  
  .hero-bg-m {
@include Background

  }
  .hero-bg {
    display: none;
  }


  .hero-content {
    flex-wrap: wrap-reverse;
    padding: 0px 50px;
    justify-content: center;
    align-content: center;
    



    .hero-text{
      .hero-btn{
        margin-top: 5vh;
      }
      h1{
        
        font-size: 23px;
   
  
      }
      h2{
     
        font-size: 20px;
      
      }
    }
    
  }
  .behind-text{
    display: none;
  }
  .hero-image{
    width: 100%;
    text-align: center;
    
    img{
      width: 100%;
    }
  }

}

