

.hero-section {
  width: 100%;
  height:100%;
  min-height: 100vh;
  position: relative;  
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
 
}
.hero-bg-m{
  display: none;
}

.hero-content {
  width: 100%;
  height: 100%;
min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  .behind-text{
    position: absolute;
    top: 0px;
    left: 200px;
    z-index: -1;
    
    object-fit: contain;
    width: 40%;
    
  }
  .hero-text{
    
  
    h1{
      color: $SloganColor;
      font-size: 3vw;
      font-weight: 700;
    line-height: normal;
    }
    h2{
      color: $SloganColor;
      font-size: 2vw;
      font-weight: 700;
      line-height: 0px;
    }
    .hero-btn{
   
      margin-top: 12vh;
    }
  }
}
.hero-image{
  width: 30vw;
  img{
    width: 100%;
  }
}

@media screen and(max-width:1024px) {
  .hero-bg-m {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
   
  }

  .hero-bg {
    display: none;
  }

  .hero-content {
    flex-wrap: wrap-reverse;
    padding: 0px 50px;
    justify-content: center;
    align-content: center;
    



    .hero-text{
      .hero-btn{
        margin-top: 5vh;
      }
      h1{
        
        font-size: 25px;
   
  
      }
      h2{
     
        font-size: 20px;
      
      }
    }
    
  }
  .behind-text{
    display: none;
  }
  .hero-image{
    width: 100%;
    text-align: center;
    
    img{
      width: 100%;
    }
  }

}

