.our-product{
    width: 100%;
    height: 100%;
    min-height: 100vh;
position: relative;
   .product-background{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .product-title{
        position: relative;
               display: flex;
              align-items: flex-end;
               justify-content: space-between;
            padding-top:50px;
               margin: auto auto;
               width: 90%;
               
               border-bottom: 3px solid $OrangeColor;
                
               h1{
                 
             color: $VioletColor;
                   font-weight: bolder;
                   font-size: 3vw;
                   font-weight: 600;
          line-height: 10px;
               }
               h2{
                 line-height: 0;
                   color: $VioletColor;
                   border-bottom-color:$OrangeColor ;
                   font-size: 1vw;
}}}

.product-containe-wrapper{
    display: flex;
   align-items: center;
      width: 100%;
      height: 100%;
      min-height: 75vh;
    overflow-y: hidden;
 

}
.product-containe-wrapper::-webkit-scrollbar{
    display: none;
}
.product-container{
    
position: relative;
height: 100%;
// min-height: 100vh;
width: 100%;
min-width: 500px;

display: flex;

 align-items: center;
// padding: 50px 150px;
    
}

.product-content{
position: relative;
left:100px;
display: flex;
flex-direction: column;
align-items: center;
min-width:300px;
margin: 0 7px;
//  background-color: green;
   
   h1{
    text-align: center;
       color: $VioletColorLight;
       font-size:1.5vw;
       font-weight: 600;
   }
   .product-image{
       width: 100%;
       img{
           width: 100%;
       }
   }
    
}
.bottom-border{
    width: 80%;
    margin: auto auto;
    border-bottom: 3px dashed $OrangeColor;
}
.product-viewall-m{
    display: none;
}

@media screen and(max-width:1024px){

    .our-product{ 
        .product-title{
          padding: 0;
        // border-bottom:none;
        // justify-content: center;

         h1{
        
         font-size: 25px ;
     }
    h2{
       
        font-size: 10px !important;
        color: $OrangeColor;
    }
    }
}
    .product-container{
       padding: 0 ;
       align-items: flex-start;
       
    }
    .product-content{
left: 0%;

  padding: 0 10px;
    min-width: 60%;
    margin: 0 10px;
           h1{
            
               color: $VioletColor;
               font-size:20px !important;
           }
           .product-image{
               width: 100%;
              
               img{
                   width: 100%;
               }
           }
            
        }

        .product-viewall-m{
            text-align: center;
            font-size: 10px;
            display: block;
        }
}