// services sections has height default because we needed to overflow 
.services-section {
    overflow-y: scroll;
    position: relative;
    width: 100%;
    height: 100px;
    min-height: 100vh;

    .services-bg {
        @include Background;
        min-height: calc(100vh + 20px);
    }

    .services-bg-m {
        display: none;
    }
}

// title of Section
.services-title {
    h1 {
        @include Title(3vw);
        border-bottom: 2px solid $OrangeColor;
        width: fit-content;
    }
}

// remove the scrollbar default
.services-section::-webkit-scrollbar {
    display: none;
}

//container of each services
.services-container {
    width: 100%;
    height: 100%;
    @include ContainerFlex(space-between);
    align-items: flex-start;

    //services content left side
    .services-content {
        padding-top: 20px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        .services-image {
            width: 80%;
            padding-top: 10px;

            img {
                @include ImageWithBorder(0);
                display: block;
           
            }
        }


        //text bellow The images on the left Side
        .services-text {
            width: 100%;


            h2 {
            font-size: 1vw;
            font-weight: 500;

            }
        }



    }

    // The right side when the scrolling and The title of each sercvices

    .services-right {
        width: 30%;
        padding-top: 0px;
        display: flex;
        min-height: 100vh;

        // title on Mobile when change The place
        .services-title-m {
            display: none;
        }

        // Line Scrolling between services right and left
        .scroll-image {
            width: 15%;

            img {
                height: 100%;
                min-height: 100vh;
                width: 100%;
            }
        }

        //title of each services
        .scroll-title {
            width: 100%;
            margin: auto auto;

            h1 {
                color: $VioletColorLight;
                font-size: 2vw;
                font-weight: 700;
                margin: 0

            }

            h2 {
                @include Text(.7vw);
                text-decoration: underline;
                color: $OrangeColor;
                margin: 0;
                display: flex;
                align-items: center;

                svg{
                
                    width: 20px;
                    height: 20px;
                polyline{
                 
                    fill: $OrangeColor;
                    stroke: $OrangeColor;
                    
                }
            }
              
            }

            h2:hover{
               transition: all .5s ease-in;
               padding-left: 5px;   
            }

        
        }
    }

}

//====================Mobile ResPonsivee=================

@media screen and(max-width:1024px) {

    // remove title and make another title at the top
    .services-title {
        display: none;

    }

    //convert section to 100% of height
    .services-section {
        width: 100%;
        overflow-y: hidden;
        height: 100%;
        min-height: 100%;

        //change The background
        .services-bg {
            display: none;

        }

        .services-bg-m {
            @include Background;
            
            min-height: calc(100%);
        }

        //container reverse the column to make right side on the top pf the left side
        .services-container {

            flex-direction: column-reverse;
            justify-content: space-between;
            padding: 0;
            min-height: 100%;


            // make content 100% width and give some padding like all mobile version 10px
            .services-content {
                padding-top: 21px;
                width: 100%;
                padding: 0px 10px;
min-height: 100%;
                //imgae get full width of contennt
                .services-image {
                    width: 100%;

                }

                //text like all text but making padding to down 20px from image
                .services-text {
                    padding-top: 20px;

                    h2 {
               font-size: 15px;
               font-weight: 500;
                    }
                }



            }

            //services wirte has title and learn More maked wrapp and convert to 100%
            .services-right {
                width: 100%;

                padding: 0 10px;
                flex-wrap: wrap;
                min-height: 100%;

                //scroll bar removed
                .scroll-image {
                    display: none;
                }

                //title and learn more makes space betweeen them and align irem end 
                .scroll-title {

                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;

                    h1 {
                        font-size: 20px;
                    }

                    h2 {

                        font-size: 15px;

                    }

                }

                // services title on mobile and maked on center with underline
                .services-title-m {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;



                    h1 {

                        @include Title(25px);
                        padding-top: 30px;
                        border-bottom: 2px solid $OrangeColor;

                    }

                }
            }
        }
    }
}