.contact-section{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img, .contact-background{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .contact-form{
    
        position: relative;
    
       width: 42%;
     max-height: calc(100vh - 11px);
        padding: 0 50px;
        >h1{
            
           padding-left: 50px;
            font-size: 22px;
            color: $OrangeColor;
        }
    }
    .spins{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        .spin{
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: $OrangeColor;
            border:2px solid $VioletColor
        }
    }
    .form-content{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        .form-title{
            display: flex;
    align-items: center;
            img{
                position: relative;
                z-index: 999;
                width: 20%;
           
            }
            h1{
                color: $VioletColor;
                font-size: 35px;
            }
        }
    }
    .btn-contactUs{
     
        text-align: center;
    }
}





.contact-image{
z-index: 999;
position: relative;
   width: 50%;
   height: 100%;
img{
    
    z-index: 999;
   
    position: relative;
    width:100%;
}
}








