.contact-section {
    @include Section;
    .contact-background {
        @include Background;
       
    }
    .contact-container {
        @include Section;
        @include ContainerFlex(space-between)
    }

}

// form conatiner
.contact-form {
    position: relative;
    width: 60%;

    // title are you ready...
    h1 {
        text-align: center;    
        margin: 0;
        font-size: 2.7vw;
        color: $OrangeColor;

    }
}

// spins circle corner
.spins {

    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    .spin {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: $OrangeColor;
        border: 2px solid $VioletColor;
        text-align: center;
        animation: rotatespin 5s infinite;

        @keyframes rotatespin {
            0%{
                transform: rotate(-360deg);

            }
            
            
        }
        
    }
}

.form-content {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    // contact us
    .form-title {
       @include ContainerFlex(space-between);
        padding-left: 0;
        padding-right: 150px;
     

       // image paper fly
        img {
            position: relative;
            z-index: 999;
            width: 25%;

        }

        //contact us text
        h1 {
            
        @include Title(2vw)
        }
    }
}

// btn div container
.btn-contactUs {

    text-align: center;
}

.contact-image {
    z-index: 999;
    display: flex;
    height: 50%;
    justify-content: end;
    // width: 50%;

    img {
        position: relative;
        width: 80%;
    }

}


@media screen and(max-width:1024px) {

    .contact-section {
        .contact-container {
            flex-wrap: wrap-reverse;
            padding: 50px 10px;

        }
    }


    .contact-form {
        position: relative;
        width: 100%;

        h1 {
            text-align: center;
            font-size: 25px;
        }
    }

    .form-content {

        .form-title {
            display: flex;
            padding: 0 20px;
            justify-content: center;
            img {
                width: 20%;
            }

            h1 {
                font-size: 25px;
            }
        }
    }

    .contact-image {
        padding: 0 10px;
        justify-content: center;

        img {
            position: relative;
            width: 80%;
        }

    }
}