.footer-section{

    width: 100%;
    height: 300px;
    position: absolute;
    display: flex;
align-items: flex-end;
  img{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -5;
  }

}
.footer-image{

    width: 100px;
    height:10px;
    z-index:999;
    padding: 20px 90px;
}
