.footer-section{

    width: 100%;
    height: 200px;
    position: absolute;
    display: flex;
align-items: flex-end;
  img{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -5;
  }

}
.footer-image{
position: relative;
    width: 300px;
    height:100px;
    z-index:999;
    padding: 0px 90px;
    img{
        width: 100%;
       
    }
}
