.footer-section{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

  .footer-bg{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: block;
}
.footer-bg-m{
    display: none;
}
}

.footer-image{
    width: 30%;
    img{
        width: 100%;
    }
}
.container-footer-wrapper{
    width: 70%;
    height: 100%;
    display: block;
    text-align: center;

    h2{
        color: #fff;
        font-weight: 200;
    }
}
.container-footer{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin-left: 260px;

    .footer-nav{
       //the width container 40% of the right big container
   width:30%;  

  
   .footer-nav-title{
    padding-top: 80px;
    h1{
        color: $OrangeColor;
        text-decoration: underline;
        font-size: 25px;
    }
}
.footer-nav-links{
    display: flex;
    
  justify-content: space-between;
    width: 100%;
      //the width container 100% of the nav container 30%



.footer-nav-col1{
    display: flex;
    flex-direction: column;
    a{
            font-size: 15px;
                color:#fff;
                text-decoration: none;
    margin-bottom: 15px;

            }
}
}

    }
    .footer-line{
        
        width: .1%;
        height: 60%;
        margin: auto auto;
        background-color: #fff;
    
    }
    .footer-icons{
        width: 10%;
       height: 200px;
        display: flex;
 
        flex-direction: column;
   align-items: center;
   justify-content: end;
    }
}
@media screen and(max-width:1024px) {
    .footer-section{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      .footer-bg{
       display: none;
    }
    .footer-bg-m{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: block;
    }
    }
    
    .footer-image{
        width: 30%;
        img{
            width: 100%;
        }
    }
    .container-footer-wrapper{
        width: 70%;
        height: 100%;
        display: block;
        text-align: center;
    
        h2{
            color: #fff;
            font-weight: 200;
            font-size: 10px;
        }
    }
    .container-footer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
  
        align-items: center;
        margin-left: 0px;
    
        .footer-nav{
           //the width container 40% of the right big container
       width:50%;  
   
       .footer-nav-title{
        padding-top: 80px;
        h1{
            color: $OrangeColor;
            text-decoration: underline;
            font-size: 10px;
        }
    }
    .footer-nav-links{
        display: flex;
        
      justify-content: space-around;
        width: 100%;
          //the width container 100% of the nav container 30%
    
    
    
    .footer-nav-col1{
        display: flex;
        flex-direction: column;

        a{
            
                font-size:8px;
               
    
                }
    }
    }
    
        }
      
        .footer-icons{
     display: none;
        }
    }
    
}