.main-content{
    width: 100%;
    padding: 0 50px;

    display:flex;
    // justify-content: space-around;

    align-items: center;

}
.logo{

  

   img{
       width: 100%;
    
   }
}
.nav-bar{
    
    padding: 0 80px;
    display: flex;    

}
.nav-links{
    list-style: none;
    margin: 0;

 
    width: 100%;
    height: 100%;
    display: flex;
  justify-content: space-between;
    align-items: center;
    li{
  
        margin: 0 10px;
    }
    a{
        
        font-style: normal;
        font-weight:600;
        font-size: 1.1vw;
        color: $VioletColor;
        text-decoration: none;
        padding: 0.5vw;
      
    }
 a.active,a:active,a:hover{
        border-bottom:2px solid $OrangeColor;
        font-weight: 700;
    }

}





.main-navigation__menu-btn {
  display: none; 
}
  @media (max-width: 1024px) {
    .main-navigation__menu-btn {
        width: 3rem;
        height: 3rem;
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 2rem;
        float: right;
    
        cursor: pointer;
        z-index: 999;
        span {
            display: block;
            z-index: 999;            
            width: 3rem;
            height: 2.5px;
            background: linear-gradient(#7A4597,#ff7900);
        }
        span:nth-child(2){
            width: 2rem;
            margin-left: 10px;
        }
      }
   
    .nav-bar{
        display: none;
       
    }
    .main-content{
       
        .logo{
        img{
            
            width: 100%;}
    }
}
.nav-links{
    min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        a{
            font-size:15px;
        }
      
    }
 
}