.team-section {
    @include Section;

    .team-background {
        @include Background
    }

    .team-title {
        width: 100%;
        padding: 40px 100px;
        opacity: .5;

        h1 {
            @include Title(3vw);
            text-align: center;
            border-bottom: 2px solid $OrangeColor
        }

    }

    .team-container {
        @include ContainerFlex(space-between);
        width: 100%;
        height: 500px;

// we nedd to test in postioon abolute for animation



        
  .team-content {
  

            height: 100%;
            width: 27%;
     
            text-align: center;
            @include ContainerFlex(space-around);
            padding: 0;
            flex-direction: column;
            // title below image
            h1 {
                margin: 0;
                text-align: center;
                color: $VioletColorLight;
                font-size: 1.5vw;
                font-weight: 600;
            }

            //text below each image
            h2 {
                @include Text(1vw);
                color: $OrangeColor;
            }

            img {
                @include ImageWithBorder(50px);
                object-fit: cover;
            }
         
            @keyframes a {
                0%{
           
                    height: 70%;
                    width: 27%;
                 
                }
                100%{
                }
                
            }
     
   
        
        }
      
      
     
        // .team-content {
        //     height: 100%;
        //     width: 27%;
        //     background-color: red;
        //     text-align: center;
        //     @include ContainerFlex(space-around);
        //     padding: 0;
        //     flex-direction: column;

        //     // title below image
        //     h1 {
        //         margin: 0;
        //         text-align: center;
        //         color: $VioletColorLight;
        //         font-size: 1.5vw;
        //         font-weight: 600;
        //     }

        //     //text below each image
        //     h2 {
        //         @include Text(1vw);
        //         color: $OrangeColor;
        //     }

        //     img {
        //         @include ImageWithBorder(50px);
        //         object-fit: cover;
        //     }

        // }

        //line between each employee
        .line-team {

            width: .4%;
        }
    }




}

@media screen and(max-width:1024px) {
    .team-section {
        min-height: 100%;

        .team-title {

            h1 {

                font-size: 25px;
                font-weight: 700;


            }

        }

        .team-container {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            position: relative;
            padding: 0px 10px;
            justify-content: center;
            align-items: center;

            .team-content {
                height: 100%;
                padding-top: 20px;
                width: 100%;
                flex-direction: column;
                align-items: center;

                h1 {
                    font-size: 15px;
                }

                h2 {
                    margin: 0;
                    font-weight: 500;
                    color: $OrangeColor;
                    font-size: 13px;

                }

                img {
                    width: 70%;

                    border-radius: 50%;
                    object-fit: cover;
                }

            }

            .line-team {
                display: none;

            }
        }




    }


}