.team-section{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;

    .team-background{
        width: 100%;
        height: 100%;
        position: absolute;
z-index: -1;    }

.team-title{
    width: 100%;
    padding: 40px 100px;
        h1{
            margin: 0;
            text-align: center;
            color: $VioletColor;
            font-weight:bolder;
            font-size:3vw;
            font-weight: 600;
            border-bottom:2px solid $OrangeColor
        }
    
    }
.team-container{
    display:flex;
    width:100%;
    height:500px;
    
    position:relative;
   padding: 0px 40px;
   justify-content: space-between;

   .team-content{
       height: 100%;
       width: 30%;
   
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
       
  
       h1{
           margin: 0 ;
         
           text-align: center;
           color: $VioletColorLight;
           font-size: 1.5vw;
           font-weight: 600;
       }
       h2{
           margin: 0;
         font-weight: 500;
           color: $OrangeColor;
           font-size: 1vw;
         
       }
       img{
           width: 60%;
     
           border-radius: 50%;
           object-fit: cover;
       }
      
   }
   .line-team{

   
}
}




}

@media screen and(max-width:1024px) {
    .team-section{
        min-height: 100%;
    
    .team-title{
        width: 100%;
        padding: 0 ;
            h1{
               
                font-size:25px;
               
            }
        
        }
    .team-container{
        display:flex;
        width:100%;
        height:100%;
     flex-direction: column;
        position:relative;
       padding: 0px 10px;
       justify-content: center;
       align-items: center;
    
       .team-content{
           height: 100%;
padding-top: 20px;
width: 100%;
        flex-direction: column;
        align-items: center;
        
           
      
           h1{
             
               font-size: 15px;
            
           }
           h2{
               margin: 0;
             font-weight: 500;
               color: $OrangeColor;
               font-size: 13px;
             
           }
           img{
               width: 70%;
         
               border-radius: 50%;
               object-fit: cover;
           }
          
       }
       .line-team{
    display: none;
       
    }
    }
    
    
    
    
    }

    
}