@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  position: absolute;
  z-index: 999;
}

.main-content {
  width: 100%;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 100%;
}

.nav-bar {
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links {
  list-style: none;
  margin: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  font-style: normal;
  font-weight: 600;
  font-size: 1.1vw;
  color: #683385;
  text-decoration: none;
  padding: 0.5vw;
}

.nav-links a.active, .nav-links a:active, .nav-links a:hover {
  border-bottom: 2px solid #FF7900;
  font-weight: 700;
}

.main-navigation__menu-btn {
  display: none;
}

@media (max-width: 1024px) {
  .main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: 2rem;
    float: right;
    cursor: pointer;
    z-index: 999;
  }
  .main-navigation__menu-btn span {
    display: block;
    z-index: 999;
    width: 3rem;
    height: 2.5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#7A4597), to(#ff7900));
    background: linear-gradient(#7A4597, #ff7900);
  }
  .main-navigation__menu-btn span:nth-child(2) {
    width: 2rem;
    margin-left: 10px;
  }
  .nav-bar {
    display: none;
  }
  .main-content .logo img {
    width: 100%;
  }
  .nav-links {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nav-links a {
    font-size: 15px;
  }
}

.side-drawer {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  width: 80%;
  background-image: url(./assets/images/MobileImages/NavBg.png);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.slide-in-left-enter {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slide-in-left-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.slide-in-left-exit {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.spinner-loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner-loading:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #683385;
  border-color: #683385 transparent #FF7900 transparent;
  -webkit-animation: spinner 1.2s linear infinite;
          animation: spinner 1.2s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hero-section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-bg-m {
  display: none;
}

.hero-content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
}

.hero-content .behind-text {
  position: absolute;
  top: 0px;
  left: 200px;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
  width: 40%;
}

.hero-content .hero-text h1 {
  color: #20242D;
  font-size: 3vw;
  font-weight: 700;
  line-height: normal;
}

.hero-content .hero-text h2 {
  color: #20242D;
  font-size: 2vw;
  font-weight: 700;
  line-height: 0px;
}

.hero-content .hero-text .hero-btn {
  margin-top: 12vh;
}

.hero-image {
  width: 30vw;
}

.hero-image img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .hero-bg-m {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
  }
  .hero-bg {
    display: none;
  }
  .hero-content {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    padding: 0px 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .hero-content .hero-text .hero-btn {
    margin-top: 5vh;
  }
  .hero-content .hero-text h1 {
    font-size: 25px;
  }
  .hero-content .hero-text h2 {
    font-size: 20px;
  }
  .behind-text {
    display: none;
  }
  .hero-image {
    width: 100%;
    text-align: center;
  }
  .hero-image img {
    width: 100%;
  }
}

.button {
  padding: 0.5rem 1.5rem;
  border: 1px solid #FF7900;
  border-radius: 20px;
  background: #FF7900;
  color: #ffff;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  font-weight: 800;
  font-size: 20px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #683385;
  border-color: #683385;
}

.button--inverse {
  background: transparent;
  color: #683385;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #683385;
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 2vw;
}

.button--big {
  font-size: 1vw;
}

@media screen and (max-width: 1024px) {
  .button--big {
    font-size: 20px;
  }
}

.vision-section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vision-section .vision-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.vision-section .vision-image-m {
  display: none;
}

.vision-section .arrow-services {
  text-align: center;
}

.vision-section .arrow-services h1 {
  margin: 0;
  color: #683385;
  font-size: 1vw;
}

.vision-section .arrow-services .arrow-image {
  width: 10%;
}

.vision-title {
  text-align: center;
  position: relative;
  padding-top: 10px;
}

.vision-title h1 {
  color: #683385;
  font-size: 3vw;
  font-weight: 600;
}

.vision-title h2 {
  line-height: 0;
  color: #FF7900;
  font-size: 3vw;
  font-weight: bolder;
}

.vision-container {
  padding-top: 15px;
  width: 90%;
  margin: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vision-container .vision-text {
  padding: 0px 50px;
  width: 40%;
  width: 50%;
}

.vision-container .vision-text h1 {
  color: #683385;
  font-size: 1vw;
  font-weight: 500;
}

.vision-container .image-right-vision {
  width: 50%;
}

.vision-container .image-right-vision img {
  -webkit-box-shadow: -8px 0px 44px rgba(255, 121, 0, 0.66);
          box-shadow: -8px 0px 44px rgba(255, 121, 0, 0.66);
  border-radius: 50px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .vision-section {
    display: block;
  }
  .vision-section .vision-image-m {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: -1;
  }
  .vision-section .vision-image {
    display: none;
  }
  .vision-title {
    text-align: center;
    position: relative;
    padding-top: 30px;
  }
  .vision-title h1 {
    margin: 0;
    color: #683385;
    font-size: 25px;
    font-weight: bolder;
    line-height: normal;
  }
  .vision-title h2 {
    font-size: 15px;
  }
  .vision-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    min-height: 100%;
  }
  .vision-container .vision-text {
    width: 100%;
  }
  .vision-container .vision-text h1 {
    font-size: 10px;
  }
  .vision-container .image-right-vision {
    width: 100%;
    text-align: center;
  }
  .vision-container .image-right-vision img {
    width: 80%;
  }
  .arrow-services {
    display: none;
  }
}

.services-section {
  width: 100%;
  overflow-y: scroll;
  position: relative;
  height: 680px;
  min-height: calc(100vh);
}

.services-section .services-bg {
  width: 100%;
  height: calc(100% / 3);
  min-height: calc(100vh + 100px);
  position: absolute;
  z-index: -1;
}

.services-title h1 {
  margin-top: 0;
  font-size: 3vw;
  font-weight: 600;
  color: #683385;
  border-bottom: 2px solid #FF7900;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.services-section::-webkit-scrollbar {
  display: none;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
}

.services-container .services-content {
  padding-top: 21px;
  width: 70%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-container .services-content .services-image {
  width: 80%;
  -webkit-box-shadow: 0px 4px 59px -17px #20242D;
          box-shadow: 0px 4px 59px -17px #20242D;
}

.services-container .services-content .services-image img {
  display: block;
  width: 100%;
}

.services-container .services-content .services-text {
  width: 100%;
}

.services-container .services-content .services-text h2 {
  font-weight: 500;
  font-size: 1vw;
}

.services-container .services-right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-container .services-right .scroll-image {
  width: 15%;
  height: 100%;
  min-height: 100vh;
}

.services-container .services-right .scroll-image img {
  height: 100%;
  width: 100%;
}

.services-container .services-right .scroll-title {
  width: 100%;
  margin: auto auto;
}

.services-container .services-right .scroll-title h1 {
  color: #7A4597;
  font-size: 2vw;
  font-weight: 700;
}

.services-container .services-right .scroll-title h2 {
  color: #FF7900;
  line-height: 0;
  font-size: 1vw;
  font-weight: 500;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .services-title {
    margin: auto auto;
  }
  .services-title h1 {
    font-size: 20px;
  }
  .services-section {
    width: 100%;
    overflow-y: hidden;
    height: 100%;
  }
  .services-section .services-bg {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
  }
  .services-section .services-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  .services-section .services-container .services-content {
    padding-top: 21px;
    width: 100%;
    padding: 10px 50px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-section .services-container .services-content .services-image {
    width: 100%;
  }
  .services-section .services-container .services-content .services-text h2 {
    font-weight: 500;
    font-size: 10px;
    margin: 0;
  }
  .services-section .services-container .services-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 50px;
  }
  .services-section .services-container .services-right .scroll-image {
    display: none;
  }
  .services-section .services-container .services-right .scroll-title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services-section .services-container .services-right .scroll-title h1 {
    font-size: 10px;
  }
  .services-section .services-container .services-right .scroll-title h2 {
    font-size: 8px;
  }
}

.our-product {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.our-product .product-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.our-product .product-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  margin: auto auto;
  width: 90%;
  border-bottom: 3px solid #FF7900;
}

.our-product .product-title h1 {
  color: #683385;
  font-weight: bolder;
  font-size: 3vw;
  font-weight: 600;
  line-height: 10px;
}

.our-product .product-title h2 {
  line-height: 0;
  color: #683385;
  border-bottom-color: #FF7900;
  font-size: 1vw;
}

.product-containe-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  min-height: 75vh;
  overflow-y: hidden;
}

.product-containe-wrapper::-webkit-scrollbar {
  display: none;
}

.product-container {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-content {
  position: relative;
  left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  margin: 0 7px;
}

.product-content h1 {
  text-align: center;
  color: #7A4597;
  font-size: 1.5vw;
  font-weight: 600;
}

.product-content .product-image {
  width: 100%;
}

.product-content .product-image img {
  width: 100%;
}

.bottom-border {
  width: 80%;
  margin: auto auto;
  border-bottom: 3px dashed #FF7900;
}

.product-viewall-m {
  display: none;
}

@media screen and (max-width: 1024px) {
  .our-product .product-title {
    padding: 0;
  }
  .our-product .product-title h1 {
    font-size: 25px;
  }
  .our-product .product-title h2 {
    font-size: 10px !important;
    color: #FF7900;
  }
  .product-container {
    padding: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .product-content {
    left: 0%;
    padding: 0 10px;
    min-width: 60%;
    margin: 0 10px;
  }
  .product-content h1 {
    color: #683385;
    font-size: 20px !important;
  }
  .product-content .product-image {
    width: 100%;
  }
  .product-content .product-image img {
    width: 100%;
  }
  .product-viewall-m {
    text-align: center;
    font-size: 10px;
    display: block;
  }
}

.template-product {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.template-product .template-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.template-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.template-container .each-template {
  -webkit-box-flex: 0;
      -ms-flex: 0 0  24%;
          flex: 0 0  24%;
  margin-top: 50px;
  height: 350px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.template-container .each-template .image-temblate {
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.template-container .each-template .image-temblate img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.template-container .each-template .template-title h1 {
  text-align: center;
  color: #FF7900;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .template-container .each-template {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    margin-top: 50px;
    height: 350px;
    background-color: #FFFFFF;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 10px;
  }
  .template-container .each-template .image-temblate {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .template-container .each-template .image-temblate img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .template-container .each-template .template-title {
    text-align: center;
    color: #FF7900;
    font-size: 20px;
    font-weight: bold;
  }
}

.team-section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.team-section .team-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.team-section .team-title {
  width: 100%;
  padding: 40px 100px;
}

.team-section .team-title h1 {
  margin: 0;
  text-align: center;
  color: #683385;
  font-weight: bolder;
  font-size: 3vw;
  font-weight: 600;
  border-bottom: 2px solid #FF7900;
}

.team-section .team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  position: relative;
  padding: 0px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-section .team-container .team-content {
  height: 100%;
  width: 30%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team-section .team-container .team-content h1 {
  margin: 0;
  text-align: center;
  color: #7A4597;
  font-size: 1.5vw;
  font-weight: 600;
}

.team-section .team-container .team-content h2 {
  margin: 0;
  font-weight: 500;
  color: #FF7900;
  font-size: 1vw;
}

.team-section .team-container .team-content img {
  width: 60%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .team-section {
    min-height: 100%;
  }
  .team-section .team-title {
    width: 100%;
    padding: 0;
  }
  .team-section .team-title h1 {
    font-size: 25px;
  }
  .team-section .team-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding: 0px 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team-section .team-container .team-content {
    height: 100%;
    padding-top: 20px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team-section .team-container .team-content h1 {
    font-size: 15px;
  }
  .team-section .team-container .team-content h2 {
    margin: 0;
    font-weight: 500;
    color: #FF7900;
    font-size: 13px;
  }
  .team-section .team-container .team-content img {
    width: 70%;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .team-section .team-container .line-team {
    display: none;
  }
}

.contact-section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.contact-section .contact-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contact-section .contact-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form {
  position: relative;
  width: 60%;
}

.contact-form h1 {
  margin: 0;
  font-size: 2.7vw;
  color: #FF7900;
}

.spins {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.spins .spin {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #FF7900;
  border: 2px solid #683385;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.form-content .form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-content .form-title img {
  position: relative;
  z-index: 999;
  width: 25%;
}

.form-content .form-title h1 {
  color: #683385;
  font-size: 3vw;
  line-height: 0;
}

.btn-contactUs {
  text-align: center;
}

.contact-image {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.contact-image img {
  position: relative;
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .contact-section .contact-container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    padding: 50px 0;
  }
  .contact-form {
    position: relative;
    width: 100%;
  }
  .contact-form h1 {
    font-size: 20px;
  }
  .form-content .form-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-content .form-title img {
    width: 30%;
  }
  .form-content .form-title h1 {
    font-size: 25px;
  }
}

.card {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  border-radius: 10px;
  padding: 5px 0;
}

.form-control {
  margin: 1rem 2rem;
}

.form-control ::-webkit-input-placeholder {
  font-size: 1.4rem;
  font-weight: bolder;
  color: #dfdfdf;
}

.form-control :-ms-input-placeholder {
  font-size: 1.4rem;
  font-weight: bolder;
  color: #dfdfdf;
}

.form-control ::-ms-input-placeholder {
  font-size: 1.4rem;
  font-weight: bolder;
  color: #dfdfdf;
}

.form-control ::placeholder {
  font-size: 1.4rem;
  font-weight: bolder;
  color: #dfdfdf;
}

.form-control p {
  font-size: 1rem;
  font-weight: 800;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  color: #683385;
  font-size: 1.5rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  border: none;
  background: transparent;
  border-bottom: 1px solid #683385;
  padding: 0.15rem 0.25rem;
  color: #FF7900;
  font-size: 1.5rem;
  font-weight: 800;
}

.form-control textarea {
  border: 1px solid #683385;
  border-radius: 10px;
  resize: none;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
  color: #FF7900;
  line-height: 10px;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: #FF7900;
  background: #FF7900;
}

.product-ourproduct {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.product-ourproduct .our-product-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  display: block;
}

.product-ourproduct .our-product-bg-m {
  display: none;
}

.product-ourproduct-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0 100px;
}

.product-ourproduct-container h1 {
  color: #683385;
  font-size: 3vw;
  font-weight: 700;
  margin: 0;
}

.product-ourproduct-container h2 {
  margin: 0;
  padding-left: 13vw;
  color: #FF7900;
  font-weight: 600;
  font-size: 2vw;
}

.product-ourproduct-container h3 {
  margin: 0;
  padding-left: 21vw;
  color: #683385;
  font-weight: 500;
  font-size: 1.5vw;
}

@media screen and (max-width: 1024px) {
  .product-ourproduct .our-product-bg-m {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: block;
  }
  .product-ourproduct .our-product-bg {
    display: none;
  }
  .product-ourproduct-container {
    padding: 0;
  }
  .product-ourproduct-container h1 {
    font-size: 20px;
  }
  .product-ourproduct-container h2 {
    font-size: 15px;
  }
  .product-ourproduct-container h3 {
    font-size: 13px;
  }
}

.about-who-are {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.about-who-are .who-are-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

.about-who-are .who-are-bg-m {
  display: none;
}

.about-who-are .who-are-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-who-are .who-are-container .who-are-text h1 {
  color: #683385;
  text-align: center;
  font-size: 3vw;
  margin: 0;
  font-weight: 700;
}

.about-who-are .who-are-container .who-are-text h2 {
  color: #FF7900;
  text-align: center;
  font-size: 2.1vw;
  font-weight: 600;
  margin: 0;
}

.about-who-are .who-are-container .who-are-text h3 {
  margin: 0;
  color: #683385;
  text-align: center;
  font-size: 2vw;
  font-weight: 500;
}

.about-who-are .who-are-container .who-are-image {
  width: 20vw;
}

.about-who-are .who-are-container .who-are-image img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .about-who-are .who-are-bg-m {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
  }
  .about-who-are .who-are-bg {
    display: none;
  }
  .about-who-are .who-are-container {
    padding: 0;
  }
  .about-who-are .who-are-container .who-are-text h1 {
    font-size: 30px;
    margin: 0;
  }
  .about-who-are .who-are-container .who-are-text h2 {
    font-size: 35px;
  }
  .about-who-are .who-are-container .who-are-text h3 {
    margin: 0;
    color: #683385;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
  }
  .about-who-are .who-are-container .who-are-image {
    display: none;
  }
}

.about-company {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.about-company .about-company-title {
  width: 100%;
  padding-top: 40px;
}

.about-company .about-company-title h1 {
  text-align: center;
  margin: 0;
  color: #683385;
  font-size: 3vw;
  font-weight: 600;
}

.about-company .about-company-bg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.about-company .about-company-container {
  width: 100%;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
}

.about-company .about-company-container .about-company-image {
  width: 40%;
}

.about-company .about-company-container .about-company-image img {
  width: 100%;
  border-radius: 25px;
  border: 2px solide red;
  -webkit-filter: drop-shadow(-8px 0px 44px rgba(255, 121, 0, 0.66));
          filter: drop-shadow(-8px 0px 44px rgba(255, 121, 0, 0.66));
}

.about-company .about-company-container .about-company-text {
  width: 40%;
}

.about-company .about-company-container .about-company-text h1 {
  color: #683385;
  font-size: 1vw;
  text-align: start;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .about-company h1 {
    font-size: 20px;
  }
  .about-company .about-company-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .about-company .about-company-container .about-company-image img {
    width: 100%;
  }
  .about-company .about-company-container .about-company-text h1 {
    font-size: 15px;
  }
}

.services-business {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.services-business .services-business-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.services-business-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0 100px;
}

.services-business-container .services-business-text {
  padding-top: 100px;
  width: 100%;
}

.services-business-container .services-business-text h1 {
  color: #683385;
  font-size: 3.5vw;
  font-weight: 700;
  margin: 0;
}

.services-business-container .services-business-text h2 {
  margin: 0;
  color: #FF7900;
  font-size: 2.8vw;
  margin-left: 10vw;
  font-weight: 600;
}

.services-business-container .services-images-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.services-business-container .services-images-container .service-image-first {
  margin-top: 20px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.services-business-container .services-images-container .service-image-first img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.services-business-container .services-images-container .service-image-first:nth-child(2) {
  width: 30%;
  height: 30%;
  margin-top: 120px;
  margin-left: 120px;
}

.services-business-container .services-images-container .service-image-first:nth-child(2) img {
  width: 100%;
  height: 100%;
}

.services-business-container .services-images-container .service-image-first:nth-child(3) {
  margin-left: 120px;
  margin-top: 50px;
}

.services-business-container .services-images-container .service-image-first:nth-child(3) img {
  width: 150px;
  height: 150px;
}

.services-business-container .services-images-container .service-image-first:nth-child(4) {
  margin-top: 250px;
  margin-left: 120px;
}

.services-business-container .services-images-container .service-image-first:nth-child(4) img {
  width: 100px;
  height: 100px;
}

.services-devlopment {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  background-image: url(./assets/images/ServicesImage/ServicesDevBg.png);
}

.services-devlopment img {
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .services-business-container {
    text-align: center;
    padding: 0;
  }
  .services-business-container .services-business-text h1 {
    font-size: 25px;
  }
  .services-business-container .services-business-text h2 {
    margin: 0;
    font-size: 16px;
  }
  .services-business-container .services-business-image {
    width: 100%;
  }
  .services-business-container .services-business-image img {
    width: 100%;
  }
  .services-devlopment {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    text-align: center;
    background-image: url(./assets/images/ServicesImage/ServicesDevBg.png);
  }
  .services-devlopment img {
    width: 100%;
  }
}

.services-idea {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.services-idea .services-idea-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.services-idea-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services-idea-container .services-idea-title {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 4px dashed #683385;
  padding: 0 100px;
}

.services-idea-container .services-idea-title h1 {
  color: #FF7900;
  font-size: 2.5vw;
  font-weight: 600;
}

.services-idea-container .services-idea-title .services-idea-title-line {
  width: 1%;
}

.services-idea-container .services-idea-description {
  width: 50%;
  padding: 0 50px;
}

.services-idea-container .services-idea-description h1 {
  color: #683385;
  font-size: 1vw;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .services-idea-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .services-idea-container .services-idea-title {
    width: 100%;
    border-right: none;
    padding: 0;
  }
  .services-idea-container .services-idea-title h1 {
    color: #FF7900;
    font-size: 23px;
  }
  .services-idea-container .services-idea-description {
    width: 100%;
    padding: 0 3px;
  }
  .services-idea-container .services-idea-description h1 {
    color: #683385;
    font-size: 15px;
  }
}

.services-design-bg {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  background-image: url(./assets/images/ServicesImage/ServicesDesignBg.png);
}

.services-design-bg .services-design-image {
  width: 80%;
}

.services-desgin-description {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(./assets/images/ServicesImage/ServicesDesignBg.png);
}

.services-desgin-description .services-desgin-description-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.services-desgin-description .services-desgin-description-title h1 {
  margin: 0px;
  color: #FF7900;
  font-size: 3vw;
  font-weight: 600;
}

.services-desgin-description .services-desgin-description-title h2 {
  margin: 0;
  color: #683385;
  font-size: 2.5vw;
  font-weight: 600;
}

.services-desgin-description .services-desgin-description-desc {
  padding: 0 100px;
}

.services-desgin-description .services-desgin-description-desc p {
  color: #683385;
  font-weight: bold;
  font-size: 1.2vw;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .services-design-bg {
    min-height: 100%;
  }
  .services-design-bg .services-design-image {
    width: 100%;
  }
  .services-desgin-description {
    min-height: 100%;
  }
  .services-desgin-description .services-desgin-description-title {
    padding-top: 0;
  }
  .services-desgin-description .services-desgin-description-title h1 {
    font-size: 15px;
  }
  .services-desgin-description .services-desgin-description-title h2 {
    font-size: 15px;
  }
  .services-desgin-description .services-desgin-description-desc {
    padding: 0;
  }
  .services-desgin-description .services-desgin-description-desc p {
    margin: 0;
    font-size: 15px;
  }
}

.servcices-digital {
  position: relative;
  width: 100%;
  height: 100%;
}

.servcices-digital .services-digital-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.services-digital-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-digital-container .services-digital-container-left {
  width: 50%;
  border-right: 3px dashed #683385;
}

.services-digital-container .services-digital-container-left h1 {
  text-align: center;
  color: #683385;
  font-size: 3vw;
  font-weight: 600;
}

.services-digital-container .services-digital-container-left .services-digital-image {
  width: 90%;
  display: block;
}

.services-digital-container .services-digital-container-left h2 {
  color: #683385;
  font-size: 1.5vw;
  font-weight: 500;
}

.services-digital-container .services-digital-container-right {
  width: 50%;
  padding: 0 20px;
}

.services-digital-container .services-digital-container-right h2 {
  color: #683385;
  font-size: 1.5vw;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .services-digital-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px 0;
  }
  .services-digital-container .services-digital-container-left {
    width: 100%;
    border-right: none;
  }
  .services-digital-container .services-digital-container-left h1 {
    color: #683385;
    font-size: 20px;
  }
  .services-digital-container .services-digital-container-left .services-digital-image {
    width: 100%;
  }
  .services-digital-container .services-digital-container-left h2 {
    color: #683385;
    font-size: 15px;
  }
  .services-digital-container .services-digital-container-right {
    width: 100%;
    padding: 0 0px;
  }
  .services-digital-container .services-digital-container-right h2 {
    color: #683385;
    font-size: 15px;
  }
}

.footer-section {
  width: 100%;
  height: 200px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-section .footer-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer-image {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-image .logo-footer {
  width: 60%;
}

.footer-container {
  width: 55%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container h3 {
  margin: 0 110px;
  color: #fff;
}

.footer-container .footer-container-content {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container .footer-container-content .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container .footer-container-content .footer-nav h1 {
  color: #FF7900;
  text-decoration: underline;
  margin: 0;
}

.footer-container .footer-container-content .footer-nav h2 {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
}

.footer-container .footer-container-content .footer-nav-links {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.footer-container .footer-container-content .footer-nav-links a {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.line-footer-between-nav {
  width: .3%;
  background-color: #fff;
}

.footer-icons {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=index.css.map */