@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&display=swap');
// Colors Variable 
$VioletColor:#683385;
$OrangeColor:#FF7900;
$SloganColor:#20242D;
$HeroImage:"../assets/images/hero-bg.jpg";
*{
    margin:0;
    box-sizing: border-box;
    padding:0px;
  

}
body{
  margin: 0;
  font-family: 'Poppins',sans-serif;
  
  height: 100%;
}

html{
    width: 100%;
    height: 100%;
  

}
html{
    width: 100%;
    height: 100%;
    
    
  
}