@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
// Colors Variable 
$VioletColor:#683385;
$OrangeColor:#FF7900;
$SloganColor:#20242D;
$VioletColorLight:#7A4597;
$HeroImage:"../assets/images/hero-bg.jpg";
:root{
  --firstburgerspan:0deg;
  --secondburgerspan:0deg;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
font-family: 'Poppins',sans-serif;

}